---
import HeroContent from "@common/HeroContent.astro";
---

<section class="bg-linear-to-b/oklch from-yellow-100 via-transparent to-white">
  <div class="mx-auto max-w-[85rem] space-y-8 px-4 pb-12 pt-48 sm:px-6 lg:px-8">

    {/* Hero Content */}
    <HeroContent />
  </div>
</section>
